#password-reset-container {
    position: absolute;
    min-height: 600px;
    width: 60%;
    max-width: 650px;
    padding: 2%;
    /* background-image: linear-gradient(to right, rgb(24, 98, 109), rgb(18, 64, 94)); */
    background-color: rgb(22, 24, 27);
    border-radius: 15px;
    color: white;
    font-family: MetropolisLight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password-reset-header {
    font-size: var(--font-tiny-header);
    margin: 0 0 2rem 0;
    max-width: 90%;
}

#pw-reset-button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem 1rem;
    /* height: 13%; */
    width: 300px;
}

#pw-reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    min-height: 40px;
    color: #ffffff;
    color: black;
    background-color: #33FFF9;
    cursor: pointer;
    border-radius: 4px;
}

#token-verification-header {
    font-size: var(--font-tiny-header);
    padding: 10px 0 20px 0;
}

.verification-token {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: white 1px solid;
    border-radius: 10px;
    margin-right: 3px;
    text-align: center;
}

#token-verification-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

#inputs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-passwords-for-reset {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-password-container>.password-req-container {
    margin: 0 0 1rem 0;
}

#new-password-container .conclusion-checkmark {
    top: 29px;
    right: 30px;
}

#input-for-reset {
    width: 100%;
    margin: 0;
}

#pw-reset-submit-button {
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    background-color: #25B8BF;
    border-radius: 2rem;
    border-radius: 6px;
    height: 40px;
    color: white;
    padding: .5rem 0 .5rem 0;
    min-width: 200px;
    max-width: 300px;
    font-size: var(--font-tiny-header)
}

@media(min-width: 1000px) {
    #password-reset-header {
        font-size: var(--font-small-header)
    }
}

@media(min-width: 1500px) {
    #password-reset-header {
        font-size: var(--font-medium-header)
    }
}

@media(min-width: 2000px) {
    #password-reset-header {
        font-size: var(--font-large-header)
    }
}