.progress-ring-container {
    /* position: absolute;
    top: 20px; */
    display: flex;
    justify-content: center;
}

.progress-ring {
  transition: stroke-dashoffset 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  border-radius: 3px;
   -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  /* stroke: linear-gradient(red, blue);
  stroke: green; */
  border-radius: 5px;
}

.progress-ring:hover {
    cursor: pointer;
}

.progress-ring-progress-num {
    /* position: absolute;
    top: 0;
    left: 50%;
    height: 100px;
    width: 100px; */
}

.progress-ring-shadow {
    transform: translateY(150px);
    position: absolute;
    bottom: 0;
    stroke: blue;
}

#progress-ring-shadow-svg {
    position: absolute;
    bottom: -175px;
    left: calc(50% - 100px);
}

#progress-ring-shadow {
    transform: rotate3d(1, 0, 0, 83deg);
    fill: rgb(15, 15, 15);
    width: 100%;
}

.overall-percent {
    font: 30px MetropolisLight;
    fill: #BACEE0;
    /* fill: black; */
    margin-left: auto;
    margin-right: auto;
}

.ml-role-container {

}

.margin-top-7 {
    margin-top: 7px;
}

.color-light-gray {
    color: #BACEE0;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}


.font-size-8 {
    font-size: 8px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-300 {
    font-weight: 300;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-nunito {
    font-family: 'Nunito';
}

.font-Metropolis {
    font-family: 'Metropolis';
}

.font-Metropolis-light {
    font-family: 'MetropolisLight';
}

.font-Metropolis-bold {
    font-family: 'MetropolisBold';
}

@media(min-width: 1000px) {
}

@media(min-width: 1500px) {
}

@media(min-width: 2000px) {
}
