.sidenav-frame {
    width: 19%;
    max-width: 300px;
    /* border-right: grey solid 1px; */
    z-index: 2;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 100px; */
}

.sidenav-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "MetropolisLight";
    font-size: var(--font-tiny-body);
    /* background: rgb(36, 42, 51); */
    color: rgb(41 75 126);
    color: white;
    border-top-right-radius: 30px;
}

.sidenav-links {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidenav-links-new {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sidenav-header {
    font-size: var(--font-tiny-header);
    font-family: MetropolisBold;
    width: calc(100% - 2rem);
    font-size: 16px;
    /* padding-top: 1rem; */
    /* border-top: 1px solid grey; */
    text-align: flex-start;
    margin-bottom: .5rem;
    margin-left: 1rem;
    margin-top: 3rem;
    display: flex;
    height: 30px;
}

.sidenav-header-res {
    font-size: var(--font-tiny-header);
    font-family: MetropolisBold;
    width: calc(100% - 2rem);
    font-size: 16px;
    /* padding-top: 1rem; */
    /* border-top: 1px solid grey; */
    text-align: flex-start;
    /* margin-bottom: .5rem; */
    margin-left: 1rem;
    display: flex;
    margin-top: 20px;
    height: 30px;
}

.sidenav-link-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}

.row-item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 50px;
}

.btn-nav {
    margin-left: 10px;
    /* padding-left: 70px; */
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.sidenav-logo {
    margin-left: 15px;
    margin-right: 5px;
    /* max-width: var(--font-tiny-body); */
    /* height: 32px;
    width: 32px; */
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.sidenav-link {
    position: relative;
    cursor: pointer;
    max-width: 100%;
    /* border-bottom: 2px solid white;
    border-top: 2px solid white; */
    padding: 6px 0px 6px 10px;
    /* background-color: whitesmoke; */
    z-index: 1;
    color: lightgrey;
    /* background-image: linear-gradient(to right, whitesmoke, lightgrey); */
}

.sidenav-link:hover {
    font-weight: 600;
}

.active-component {
    font-weight: 600;
    color: #25B8BF;
}

.active-component > .sidenav-link {
    color: #25B8BF;
    /* background-image: linear-gradient(to right, whitesmoke, lightgrey); */
}

.sidenav-session-container {
    position: absolute;
    bottom: 5vh;
    color: #2c59ed;
}

.close-sidenav {
    /* position: absolute;
    top: 2vh;
    right: 2vw;
    opacity: .7;
    max-width: 1.2rem;
    display: none; */
    margin-left: 0px;
}

.sidenav-user-profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sidenav-user-profile {
    max-height: 3.5vh;
    max-width: 3.5vh;
    min-height: 3.5vh;
    min-width: 3.5vh;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vh;
    margin: .5rem;
}

.sidenav-user-profile:hover {
    cursor: pointer;
}

.sidenav-user-logo {
    max-height: 5vh;
    margin: 1rem;
}

.sidenav-username {
    color: white;
}

.sub-topnav-container {
    width: 100%;
    height: 7vh;
    background-color: rgb(41 75 126);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sub-topnav-item {
    font-size: .75rem;
}

.dropdown-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.4s;
    transform: translateY(-100%);
}

.activated {
    transform: translateY(0px);
    margin-bottom: 0px;
}

.dropdown-item-container {
    position: relative;
    z-index: -1;
    width: 90%;
    padding: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 200;
}

.dropdown-item-container:hover {
    background-image: linear-gradient(to right, whitesmoke, lightgrey);
    font-weight: 600;
}

.dropdown-item {
    font-size: .7rem;
    font-weight: inherit;
    position: relative;
    z-index: -1;
}

.dropdown-icon {
    height: 24px;
    margin-right: 1rem;
    position: relative;
    z-index: -1;
}

.comp-analysis-subdrop-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comp-analysis-subdropdown-item-container {
    width: 85%;
    font-size: .8rem;
    font-weight: 200;
    color: black;
}

.industry-filters-container {
    cursor: pointer;
    margin-left: 1rem;
}

.industry-filters-container:hover {
    font-weight: 600;
}

.industry-filter {
    display: flex;
    margin: .5rem;
    font-weight: 200;
    font-size: .7rem;
}

.industry-filter:hover {
    font-weight: 600;
}

.sidenav-footer-container {
    /* position: absolute; */
    /* bottom: 0;
    right: 0; */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* border-top: grey solid 1px; */
    /* height: auto; */
}

.sidenav-chatbot-container {
    z-index: 2;
    height: 100%;
    width: 30%;
    position: relative;
}

.sidenav-footer-links-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
    font-size: 12px;
}

.sidenav-footer-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 40%; */
}

.sidenav-footer-link-img {
    /* height: 20px; */
    margin-right: .5rem;
    border-radius: 4px;
}

.construction-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.construction-container:hover {
    cursor: not-allowed;
}

.under-construction {
    position: absolute;
    right: 5px;
    top: calc(var(--font-small-body) * .5);
    max-height: var(--font-small-body);
}

.sidenav-footer-link-container:hover {
    color: darkblue;
    cursor: pointer;
}

.sidenav-footer-link-span {
    font-size: 12px;
    padding-left: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.pre-footer-cta-container {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-footer-link-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 100px;
}

.prefooter-link {
    position: relative;
    cursor: pointer;
    max-width: 100%;
    padding: 1px 0px 1px 10px;
    z-index: 1;
    color: #33FFF9;
    font-size: 12px;
    /* background: #33FFF9; */

}

.container{
  background-color: black;
  width: 100%;
}

.containerblue{
    /* background-color: blue; */
    background: rgb(36, 42, 51);
    width: 20px;
    padding-left: 30px;
  }
  
  
  .containerblue.active > .top {
    /* background-color: blue; */
    background: black;
    width: 170px;
    /* height: 25px; */
    border-radius: 25px 0px 25px 0px;
    pointer-events: none;
  }
  
  .containerblue.active > .middle{
    background-color: black;
    width: 170px;
    border-radius: 25px;
    /* padding: 20px; */
  }
  
  .containerblue.active > .bottom {
    background-color: rgb(36, 42, 51);
    /* background: rgb(36, 42, 51); */
    width: 170px;
    /* height: 25px; */
    border-radius: 0px 25px 0px 0px;
    pointer-events: none;
  }
  
  
  .top{
    /* background-color: red; */
    background: rgb(36, 42, 51);
    width: 170px;
    height: 25px;
    pointer-events: none;
    /* position: absolute; */
    /* border-top-right-radius: 25px; */
  }
  
  .middle{
    /* background-color: blue; */
    background: rgb(36, 42, 51);
    width: 170px;
    height: 50px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* padding-left: 10px; */
    cursor: pointer;
    color: white;
  }
  
  .bottom{
    /* background-color: blue; */
    background: rgb(36, 42, 51);
    width: 170px;
    height: 25px;
    pointer-events: none;
    position: absolute;
  }

  .topp{
    width: 170px;
    height: 25px;
    pointer-events: none;
    position: absolute;
    border-radius: 0px 0px 25px 0px;
    background: rgb(36, 42, 51);

  }

  .middlep{
    background-color: red;
    /* background: rgb(36, 42, 51); */
    width: 170px;
    height: 25px;
    padding-top: 20px;
    border-radius: 0px 25px 0px 25px;
    /* padding-bottom: 20px; */
    /* padding-left: 10px; */
    cursor: pointer;
    color: white;
    position: absolute;
  }

  .bottomp{
    /* background-color: blue; */
    background: rgb(36, 42, 51);
    width: 170px;
    height: 25px;
    pointer-events: none;
    border-radius: 0px 25px 0px 0px;
    /* position:absolute; */
    /* margin-top: 50px; */
    /* bottom: 5%; */
    /* width: 100%; */
  }

  .maindiv{
      position:sticky;
  }

  .enable-mobile-logo {
    display: none;
  }

  .disable-logo {
    display: flex;
}

@media(max-width: 520px) {
    .sidenav-frame {
        width: 60%;
        display: flex;
        position: absolute;
        top: 0px;
    }

    .mainlogo {
        justify-content: start !important;
    }

    .close-sidenav {
        margin-left: -60%;
    }

    .open-side-nav {
        transform: translateX(0%);
    }

    .enable-mobile-logo {
        display: flex;
    }

    .disable-logo {
        display: none !important;
    }
}

@media (min-width: 521px) and (max-width: 768px) {
    .sidenav-frame {
        width: 60%;
        display: flex;
        position: absolute;
        top: 0px;
    }

    .mainlogo {
        justify-content: start !important;
    }

    .close-sidenav {
        margin-left: -60%;
    }

    .open-side-nav {
        transform: translateX(0%);
    }

    .disable-logo {
        display: none;
    }

    .enable-mobile-logo {
        display: flex;
    }

}

@media (min-width: 768px) {
    .enable-mobile-logo {
        display: none;
    }
}

@media(min-width: 1000px) {
    .sidenav-container {
        font-size: var(--font-small-body);
    }
}

/* @media(min-width: 1500px) {
    .sidenav-container {
        font-size: calc(var(--font-medium-body) * .85);
    }
} */

@media(min-width: 2000px) {
    .sidenav-container {
        font-size: var(--font-medium-body);
    }
}

/* .navigation {
    position: fixed;
    width: 300px;
    background: green;
} */

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
    border-top-right-radius: 30px;
    
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 95%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    margin-left:auto !important
}

.navigation ul li.active{
    /* background: white;
     */

     background: #0B1C2B;
     color: #33FFF9;
}

.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 40%;
    margin-left: 60%;
    background: #0B1C2B;
    display: none;
}

.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    /* background: red; */
    background: #162D41;
}

.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #0B1C2B;
    display: none;
}

.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    /* background: red; */
    background: #162D41;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    pointer-events: none;
}

.navigation ul li.active a{
    color: #33FFF9;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    white-space: normal;
    font-size: 15px;
}

.navigation ul li a .title.active {
color: #25B8BF;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
}

.divusername {
    /* display: 'flex'; */
    /* flex-direction: 'row'; */
    margin-left: 15px;
    /* align-items: baseline; */
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* justify-content:'flex-start'; */
}

.profilelogo {
    height: 40px;
    width: 40px;
    background: green;
    border-radius: 40px;
    align-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    /* margin-top: 20px; */
}

.mainlogo{
    display: flex;
    /* justify-content: center; */
}

.welcome {
    font-size: 10px;
}

.username {
    font-size: 13px;
    font-weight: 700;
    margin-top: 3px;
}

.close-side-menu {
    margin-left: -50%;
}