.user-profile-pop-up-container {
    border: grey solid 1px;
    border-radius: 8px;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    z-index: 2;
    margin-right: 0px;
    right: 0;
}

.font-nunito {
    font-family: 'Nunito';
}

.font-Metropolis {
    font-family: 'Metropolis';
}

.font-Metropolis-light {
    font-family: 'MetropolisLight';
}

.font-Metropolis-bold {
    font-family: 'MetropolisBold';
}