.user-profile-pop-up-container {
    border: grey solid 1px;
    border-radius: 8px;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    z-index: 2;
    margin-right: 0px;
    right: 0;
}